.container{
    position: relative;
}

.background{
    height: 100vh;
    width: 100%;
}

.titleIcon{
    width: 858px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 22%);
}

.learnButton{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
}

.font{
    font-weight: bold;
    font-size: 24px;
    color: #2F454F;
}