.container{
    position: relative;
}

.bg{
    height: 100vh;
    width: 100%;
}

.navbar{
    display: flex;
    align-items: center;
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
}
 
.logo{
    width: 320px;
    margin-right: 51px;
}