.container{
    background: #DEDEDE 0% 0% no-repeat padding-box;
    border-radius: 50px;
    position: relative;
    transform: translateX(100px);
}
.char {
    position: absolute;
    border-radius: 10px;
    padding: 10px 17px;
    top:0;
    left: 0;
    transform: translate(-50%, 65%);
    z-index: 1;
}