// color
$project-colors: (
  white: #ffffff,
  gray-1: #bbbbbb,
  gray-2: #939cac,
  gray-3: #717171,
  green-1: #acd271,
  green-2: #6d952f,
  green-3: #527275,
  green-4: #2f454f,
  orange-1: #fbe4ca,
  orange-2: #ffb464,
  orange-3: #de6e46,
);
